<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Live Sensors</title>
    <link rel="stylesheet" href="styles.css">
</head>

<style>
    body {
        background-image: url("../purple_wallpaper.png");
        background-color: #cccccc;
        text-align: center;
    }
    h1 {color: black;
        font-family: courier;
        font-size: 250%;
    }
    p {color: black;
        font-family: courier;
        font-size: 180%;
    }
</style>

<script src=""></script>
<body>

<div class="">
    <h1>Résultats des sensors</h1>
    <p>{{ date }}</p>
    <p>Temperature: {{ temperature }}°</p>
    <p>Taux d'humidité:{{ humidity }}%</p>
</div>

</body>
</html>